body {
  font-family: Poppins;
  background: #bab0d4;
}

input {
  font-family: Poppins;
}
a {
  color: #861f4c;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 20px;
}
body main h1 {
  font-weight: bold;
  font-size: 40px;
  color: #311d3f;
}
h2 {
  font-weight: 200;
}
p {
  color: #e1e0ec;
}
strong {
  color: #522546;
}

.weather-app {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-city {
  background-color: #e6defa;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 12px;
  width: 80%;
  border-radius: 6px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #470622;
  color: #e1e0ec;
  border: none;
  padding: 15px 20px;
  line-height: 1;
  border-radius: 5px;
}
.search-button:hover {
  cursor: pointer;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}
.weather-temperature-details {
  line-height: 24px;
}
.weather-temperature-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 35px;
}
.temperature-icon {
  width: 77px;
  height: 77px;
}
.temperature-value {
  line-height: 20px;
  font-size: 77px;
  color: #311d3f;
}
.temperature-unit {
  font-size: 20px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
}

.weather-forecast-date {
  text-align: center;
  color: #e1e0ec;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 30px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #470622;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  text-align: center;
  border-top: 1px solid #f9f7fe;
  padding: 5px;
}
